<!DOCTYPE html>
<html>
<head>
	<title>Store List</title>
</head>
<body>
	<style>
	.storelist {
		background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  width: 300px;margin-left: 500px;
}

.storelist li {
    margin-bottom: 10px;
}

body {
      background: linear-gradient(99.6deg, rgb(112, 128, 152) 10.6%, rgb(242, 227, 234) 32.9%, rgb(234, 202, 213) 52.7%, rgb(220, 227, 239) 72.8%, rgb(185, 205, 227) 81.1%, rgb(154, 180, 212) 102.4%);
      height: 100vh;
      width: 100vw;
    }

	</style>
	<div class="storelist">
    <h1>Store List</h1>
    <ul class="storelist-container">
        {% for store in stores %}
        <li>{{ store.name }} - {{ store.location }}</li>
        {% endfor %}
    </ul>
</div>

</body>
</html>